@import '~styles/app.scss';

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $navbar-height;
  background-color: $grey-light;
  margin: 0;
  > div {
    display: inline-block;
  }

}

.navlinks {
  margin: 0;
  padding: 0;
  ul {
    min-width: 500px;
    top: -3px;
    left: 10px;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      min-width: 20px;
      height: 20px;
      display: inline-block;
      margin-left: 15px;
      position: relative;
      margin-top: 20px;
      svg {
        position: absolute;
        top: -10px;
      }
      a {
        position: absolute;
        top: -5px;
      }
    }
  }
}

.navmenu {
  float: right;
  position: relative;
  margin-right: 10px;

  > span {
    position: absolute;
    right: 55px;
    display: inline-block;
    white-space: nowrap;
    top: 13px;
  }
}

.navmenu-avatar {
  position: absolute;
  top: 5px;
  right:5px;
}


.home-icon {
  margin-top: 10px;
}
