$navbar-height: 50px;

$chrome-margin-left: 20px;
$chrome-padding: 10px;

$blue-grey: #455A64;
$grey-light: #F3F3F4;
$body-background-color: #fafafa;

$default-font-family: Open Sans, sans-serif;
$default-font-size: 14px;

body {
  margin: 0;
  color: $blue-grey;
  background-color: $body-background-color;
  font-family: $default-font-family;
  font-size: $default-font-size;
}
